* {
  box-sizing: border-box;
}

body {
  background-color: rgb(131, 118, 102);
}

form {
  margin-top: 5rem;
}

label {
  background-color: rgba(250, 235, 215, 0.496);
  color: rgb(107, 77, 41);
}

input {
  background-color: beige;
  border: solid 0.5px brown;
}

#saveButton {
  background-color: #00bc08;
  border-radius: 10px;
  border: none;
}
#resetButton {
  background-color: palegoldenrod;
  border-radius: 10px;
  border: none;
}

#saveButton:hover {
  background-color: #2db13193;
}
#resetButton:hover {
  background-color: rgba(255, 228, 196, 0.636);
}

h3 {
  margin-top: 5rem;
  font-size: 14px;
  color: blanchedalmond;
}

p {
  color: blanchedalmond;
  font-size: 12px;
}
